.createTournament {
  flex-grow: 1;
  background-color: rgb(240, 245, 245);
  display: flex;
  justify-content: center;
  background-image: url('../assets/images/bg.webp');
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  text-align: center;
  padding-top: 2rem;
  font-size: 4rem;
}

.subtitle {
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(48, 48, 48);
  text-align: center;
  font-size: 2rem;
}

.tuto {
  background-color: rgb(27, 27, 27);
  color: white;
  text-align: center;
  margin-top: 2rem;
  padding: 0.5em;
  font-size: 1.3rem;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.elements {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  position: relative;
  right: 0vw;
  transition: right 0.3s ease-out;
}

.labelWrapper {
  display: flex;
}

.label {
  font-size: 2rem;
  font-weight: 900;
  margin: 0 1rem;
  margin-bottom: 0.5em;
  color: rgb(48, 48, 48);
  text-transform: uppercase;
  text-align: center;
}
.info {
  font-size: 1.8rem;
  font-weight: 900;
  color: rgb(48, 48, 48);
  border: 5px solid rgb(48, 48, 48);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}

.info:hover {
  border: 5px solid orange;
  color: orange;
  background-color: rgb(236, 236, 236);
}

.infoBlock {
  position: absolute;
  top: -5rem;
  background-color: white;
  color: rgb(48, 48, 48);
  font-size: 1.5rem;
  font-weight: 700;
  color: orange;
  padding: 0.25em 1em;
  border-radius: 1em;
  text-align: centerh;
}

.input {
  font-size: 2rem;
  font-weight: 900;
  padding: 0.25em 1em;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 1em;
  width: 1000px;
}

.input::placeholder {
  color: rgb(214, 214, 214);
  font-weight: 700;
}

.next {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.25em 1em;
  border: 4px solid white;
  background-color: orange;
  color: white;
  border-radius: 1em;
  cursor: pointer;
}

.next:hover {
  background-color: rgb(255, 211, 129);
}

.previous {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.25em 1em;
  border: 2px solid white;
  background-color: rgb(27, 27, 27);
  color: white;
  border-radius: 1em;
  cursor: pointer;
  margin-bottom: 1rem;
}

.previous:hover {
  background-color: rgb(105, 105, 105);
}

.recap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  width: min-content;
  color: white;
  margin-top: 2rem;
  width: 100%;
}

.recapElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  background-color: rgb(29, 29, 29);
  padding: 1rem;
  width: 800px;
}

.recapElementName {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.recapElementValue {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: orange;
}

.buttons {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  margin: 1rem;
  margin-bottom: 2rem;
}

.correct {
  margin-right: 1rem;
  background-color: rgb(240, 8, 8);
}

.create {
  margin-left: 1rem;
  background-color: orange;
}

.correct,
.create {
  font-size: 1.8rem;
  padding: 0.25em 1em;
  border-radius: 1em;
  border: none;
  cursor: pointer;
}

.create:hover {
  background-color: rgb(255, 211, 129);
}

.correct:hover {
  background-color: rgb(245, 110, 110);
}

.yes {
  background-color: rgb(13, 155, 0);
  margin-left: 2rem;
}

.no {
  background-color: rgb(240, 8, 8);
  margin-right: 2rem;
}

.yes,
.no {
  font-size: 1.8rem;
  padding: 0.25em 1em;
  border-radius: 1em;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 2rem;
  width: 140px;
}

.yes:hover {
  background-color: rgb(88, 180, 80);
}

.no:hover {
  background-color: rgb(245, 110, 110);
}

.checkboxWrapper {
  display: flex;
  margin-bottom: 1rem;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxInput {
  margin-right: 1rem;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0.25rem;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #eee;
  border: 4px solid orange;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxWrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxWrapper .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* On mouse-over, add a grey background color */
.checkboxWrapper:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxWrapper input:checked ~ .checkmark {
  background-color: orange;
}

.checkboxLabel {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(48, 48, 48);
}

@media all and (max-width: 900px) {
  .title {
    font-size: 2rem;
  }
  .tuto {
    font-size: 1.1rem;
  }
  .label {
    font-size: 1.8rem;
  }
  .input {
    width: 95vw;
  }

  .recap {
    width: 100%;
  }
  .correct {
    margin-right: 0.5rem;
  }

  .create {
    margin-left: 0.5rem;
  }
  .infoBlock {
    top: 3rem;
  }
  .recapElement {
    width: 100%;
  }
}
